[submodule "can-definitions"]
	path = can-definitions
	url = https://github.com/HydrogreenPollub/lib-can-definitions.git
[submodule "peripherals"]
	path = peripherals
	url = https://github.com/HydrogreenPollub/lib-peripherals.git
